#ootdcontainer {
    width: 100%;
    height: 1200px;
    align-items: center;
    justify-content: center;
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
}

.mySlides {display:none;}

.clothes {
    border:0.2px solid;
    text-align: center;
    margin-top:10px;
    top:50%; left:50%;
    width:800px; 
    height:800px; 
    padding: 10px;
}

.item {
    border-radius: 10%;
    touch-action: none;
    user-select: none;
    position: relative;
}



.item:active {
    opacity: .75;
}

.item:hover {
    cursor: pointer;
}
